# Regular expressions to ignore some paths during linting
ignores:
  - \.docker
  - \.git
  - node_modules
  - public
  - \.\/src\/core

# Regular expressions to specify structure of your project
rules:
  - ^\.\/[A-Z]+\.md$
  - ^\.\/package-lock\.json$
  - ^\.\/package\.json$
  - ^\.\/src\/custom\.d\.ts$
  - ^\.\/src\/(([a-z0-9]*)(-[a-z0-9]+)*\/)*index\.ts$
